a.social {
    --bg-url: "";
    width: 1.5rem;
    height: 1.5rem;
    background-image: var(--bg-url);

    -webkit-background-clip: initial;
    background-clip: initial;

    &[aria-label="tiktok"] {
        --bg-url: url(../assets/icons/tiktok.svg);

        &:hover {
            --bg-url: url(../assets/icons/tiktok-hover.svg);
        }
    }

    &[aria-label="instagram"] {
        --bg-url: url(../assets/icons/instagram.svg);

        &:hover {
            --bg-url: url(../assets/icons/instagram-hover.svg);
        }
    }

    &[aria-label="twitter"] {
        --bg-url: url(../assets/icons/twitter.svg);

        &:hover {
            --bg-url: url(../assets/icons/twitter-hover.svg);
        }
    }

    &[aria-label="discord"] {
        --bg-url: url(../assets/icons/discord.svg);

        &:hover {
            --bg-url: url(../assets/icons/discord-hover.svg);
        }
    }
}